* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  background: #202020;
  color: #fff;
  padding: 60px;
}
.main {
  background: transparent;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px;
}
.main .col1 {
  text-align: left;
  line-height: 30px;
  padding: 20px;
}
.main .col1 .a {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
}
.main .col1 p {
  font-size: 22px;
  color: #ababab;
  padding-top: 20px;
}
.main .col2 {
  padding: 20px;
}
.main .col2 .d {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 30px;
  padding-top: 20px;
}
.d1 {
  overflow: hidden;
  position: relative;
}
.main .d .d1:hover img {
  transform: scale(1.2);
  transition: 1s;
}
.d11 {
  position: absolute;
  top: 0;
  left: 0;
  background: #202020;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  text-align: center;
  padding-top: 40px;
}
.d11 a {
  text-decoration: none;
  list-style: none;
  color: #fff;
  border: none;

  font-size: 2vh;
}
.main .col3 {
  padding: 20px;
  text-align: left;
}
.main .col3 p {
  font-size: 20px;
  color: #ababab;
  text-align: left;
  line-height: 40px;
}
.main .col3 .f {
  padding-top: 20px;
}
.col3 .f1 {
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px;
  padding-top: 40px;
  text-align: center;
  gap: 10px;
}
.col3 .f1 a {
  text-decoration: none;

  border: none;
}
@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
  .col2 .d11 {
    padding-top: 15px;
  }
}
